html {
  width: 100%;
  height: 100%;
  position: absolute;
  scroll-behavior: smooth !important;
  scroll-padding-top: 60px;
}
body {
  margin: 0px;
  padding: 0px;
  color: #000000;
  position: relative;
  width: 100%;
  background: #051726;
  font-size: 16px;
  font-family: "Inter", sans-serif !important;
}
section {
  padding: 45px 0px;
}
.navbar-brand {
  color: #f5f6f6;
  font-weight: 700;
  font-size: 24px;
}
.navbar-brand:hover {
  color: #f5f6f6;
}

.headbg {
  padding: 9px 16px !important;
  position: fixed !important;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  background-color: #051726;
}
.navbar-toggler-icon {
  background-image: url("../public/download.png");
}
.headbg .navbar-nav a {
  padding: 24px 22px;
  margin: 0px 12px;
  color: #f5f6f6 !important;
  font-size: 16px;
  font-weight: 500;
}
.sitebtn {
  background-color: transparent !important;
  background: radial-gradient(
        circle at 100% 100%,
        #051726 0,
        #051726 6px,
        transparent 6px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #051726 0, #051726 6px, transparent 6px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #051726 0, #051726 6px, transparent 6px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #051726 0, #051726 6px, transparent 6px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#051726, #051726) 50% 50% / calc(100% - 4px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#051726, #051726) 50% 50% / calc(100% - 16px)
      calc(100% - 4px) no-repeat,
    linear-gradient(172deg, #00863f 0%, #020760 100%);
  border-radius: 8px;
  padding: 6px;
  box-sizing: border-box;
  border: none;
  background: radial-gradient(
        circle at 100% 100%,
        #051726 0,
        #051726 6px,
        transparent 6px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #051726 0, #051726 6px, transparent 6px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #051726 0, #051726 6px, transparent 6px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #051726 0, #051726 6px, transparent 6px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#051726, #051726) 50% 50% / calc(100% - 4px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#051726, #051726) 50% 50% / calc(100% - 16px)
      calc(100% - 4px) no-repeat,
    linear-gradient(172deg, #00863f 0%, #020760 100%);
  border-radius: 8px;
  padding: 6px;
  box-sizing: border-box;
  border: none;
  text-align: center;
  padding: 12px;
}
.sitebtn:hover {
  border: inherit;
}

.landingbanner {
  position: relative;
  padding-top: 16vh;
  z-index: 9;
}

.content {
  font-size: 18px;
  -webkit-text-fill-color: #0000;
  background: linear-gradient(to bottom right, #1c1f54, #55a987);
  background-clip: text;
  font-weight: 600;
}
.bannercontentbg {
  background: #8f96a50a;
  padding: 16px;
  border-radius: 32px;
}
.bannertitle {
  position: relative;
}
.mobshow .xdevs {
  position: unset !important;
  display: none;
}
.xdevs {
  position: absolute;
  left: -23px;
  top: -20px;
  padding: 12px;
  margin: 12px;
  border: 1px solid #f5f6f638;
  transform: rotate(-32deg);
  border-radius: 32px;
  background: linear-gradient(to bottom right, #1c1f54, #55a987);
  color: #f5f6f6;
  animation: pulse 1.5s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.bannertitle h2 {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(to bottom right, #f7f7f7, #292727);
  background-clip: text;
  font-size: 90px;
  font-weight: 700;
  line-height: 128px;
}

.bannerbtns .sitebtn {
  padding: 20px 40px;
  font-size: 18px;
  background: radial-gradient(
        circle at 100% 100%,
        #051726 0,
        #051726 6px,
        transparent 6px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #051726 0, #051726 6px, transparent 6px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #051726 0, #051726 6px, transparent 6px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #051726 0, #051726 6px, transparent 6px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#051726, #051726) 50% 50% / calc(100% - 4px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#051726, #051726) 50% 50% / calc(100% - 16px)
      calc(100% - 4px) no-repeat,
    linear-gradient(172deg, #00863f 0%, #020760 100%);
  border-radius: 8px;
  padding: 6px;
  box-sizing: border-box;
  border: none;
  padding: 20px 40px;
  color: #f5f6f6 !important;
}

.userpanelsection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formboxbg {
  margin: 0 auto;
  width: 100%;
  min-width: 520px;
  max-width: 900px;
  border: 1px solid #057bdc1d;
  background: #a1a1a105 !important;
  padding: 32px;
  border-radius: 32px;
}
.formboxbg .form-label {
  color: #bcb9c1;
}

.table > :not(caption) > * > * {
  background-color: transparent !important;
  padding: 24px;
  border: none !important;
}
table thead tr {
  border: none !important;
  vertical-align: middle;
}
table thead tr th {
  color: #f5f6f6 !important;
}
table tr td {
  color: #f5f6f6 !important;
}
table tbody {
  border-top: 1px solid #057bdc1d;
}
.table-bordered > :not(caption) > * {
  border: none !important;
}
.impwallet .sitebtn {
  color: #f5f6f6;
}

input {
  background-color: transparent !important;
  border: 1px solid #22679f23 !important;
  color: #f5f6f6 !important;
}
input::placeholder {
  color: #f5f6f6 !important;
}

.modal-content {
  background: #050707;
  border: 1px solid #fff8f81f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-header .h4 {
  color: #f5f5f5 !important;
  font-size: 18px;
}
.modal-header {
  border: none;
}
.modal-body .form-label {
  color: #f5f6f6;
}
.btn-close {
  --bs-btn-close-bg: none !important;
  background-image: url('../public/closebtn.svg');
  background-repeat: no-repeat;
}
.successimgbg {
  text-align: center;
}
.successimg {
  width: 100%;
  max-width: 240px;
}
.keyimgbg {
  text-align: center;
}
.keyimg {
  width: 100%;
  max-width: 180px;
}
.successtrx {
  font-size: 24px;
    -webkit-text-fill-color: #0000;
    background: linear-gradient(to bottom right, #1c1f54, #55a987);
    background-clip: text;
    font-weight: 600;
}
.soladdr {
  font-size: 16px;
}
@media (max-width: 1400px) {
  .bannertitle h2 {
    font-size: 76px;
    line-height: 100px;
  }
}

@media (max-width: 1200px) {
  .bannertitle h2 {
    font-size: 62px;
    line-height: 88px;
  }
}

@media (max-width: 991px) {
  .bannertitle h2 {
    font-size: 42px;
    line-height: 82px;
  }
  .headbg .navbar-nav a {
    padding: 16px 0px;
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .xdevs {
    font-size: 14px;
    margin: 10px;
    padding: 10px;
  }
  .bannertitle h2 {
    font-size: 30px;
    line-height: 63px;
  }
  .bannerbtns a:last-child {
    margin-top: 20px;
  }
  .formboxbg {
    width: 100%;
    min-width: unset !important;
    max-width: unset !important;
  }
}

@media (max-width: 600px) {
  .xdevs {
    display: none;
  }
  .mobshow .xdevs {
    display: inline;
    font-size: 18px;
    margin: 14px;
    padding: 14px;
  }
  .bannertitle h2 {
    line-height: 48px;
  }
}

@media (max-width: 500px) {
  .bannecontent p {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
